:root {
 --header: 'Fredericka the Great', cursive;
 --p: 'Sacramento', cursive;
 --white: #CAD2C5;
 --hGreen:  #52796F;
 --lavenderWeb: #E2EAFC;
}

.jumbotron {
 background-color: var(--hGreen);
 color: var(--white);
 margin-top: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img {
 height: 400px;
 width: 200px;
 position: fixed;
 margin-left: 15px;
 margin-top: -225px;
}

.display-4 {
 font-family: var(--header);
 display: flex;
 justify-content: center;
}

#date {
 font-family: var(--header);
 font-size: 20px;
 display: flex;
 justify-content: center;
}

.lead {
 font-family: var(--p);
 font-size: 30px;
 display: flex;
 justify-content: center;
}

.schedule-block {
 margin: 20px;
}

.block {
 display: flex;
 flex-direction: row;
 padding: 10px
}

.time-day {
 display: flex;
 justify-content: flex-end;
 font-family: var(--header);
 flex-grow: .5;
}

input {
 flex-grow: 3;
 border: none;
 padding: 20px;
 font-family: var(--header);
}

.save {
 flex-grow: .5;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: var(--hGreen);
 border: none;
 transition: all .2s ease-in-out;
}

.save:hover {
 transform: scale(1.1);
 background-color: var(--lavenderWeb);
 border: 3px solid var(--hGreen);
}

.before {
background-color: #2F3E46;
}


.current {
background-color: #84A98C;
}

.after {
background-color: #a3d3add8;
}